<div class="bg-light-highest space-y-3 rounded-lg p-3 backdrop-blur-sm">
  <div class="flex items-center">
    <h3 class="flex-1 text-sm font-medium">{{ title }}</h3>
    <button
      class="hover:bg-tertiary-100 cursor-pointer rounded-md p-2"
      (click)="onClose()">
      <fa-icon [fixedWidth]="true" [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="space-y-3">
    <div class="flex w-full items-center gap-2">
      <!-- Search Box -->
      <div
        class="border-tertiary-400 flex flex-1 overflow-hidden rounded-lg border">
        <div class="text-tertiary-400 flex items-center px-2 text-xs">
          <fa-icon [icon]="faSearch" [fixedWidth]="true"></fa-icon>
        </div>
        <input
          type="text"
          name="search"
          id="search"
          [(ngModel)]="searchQuery"
          fcDebounceKeyup
          [debounceTime]="900"
          (onEvent)="search()"
          class="block w-full py-2 text-xs text-black outline-none placeholder:text-gray-400"
          placeholder="Search Project" />
      </div>

      <!-- Add Button -->
      <a
        title="Add Project"
        [pTooltip]="'Add Project'"
        class="hover:bg-tertiary-100 flex cursor-pointer items-center justify-center rounded-md bg-white p-2 transition"
        [routerLink]="['/project/add']"
        target="_blank">
        <fa-icon [icon]="faPlus" class="text-sm text-gray-700"></fa-icon>
      </a>

      <!-- Refresh Button -->
      <button
        title="Refresh"
        type="button"
        [pTooltip]="'Refresh'"
        [disabled]="loading"
        class="hover:bg-tertiary-100 flex cursor-pointer items-center justify-center rounded-md bg-white p-2 transition disabled:opacity-50"
        (click)="loadData()">
        <fa-icon [icon]="faRefresh" class="text-sm text-gray-700"></fa-icon>
      </button>
    </div>

    <div class="project-list h-[400px] overflow-auto rounded">
      <div class="space-y-2" *ngIf="!loading">
        <ng-container *ngFor="let project of projects">
          <button
            class="border-tertiary-100 bg-tertiary-100 hover:border-tertiary-300 grid w-full cursor-pointer items-center gap-2 rounded-md border p-2 text-left text-xs"
            (click)="submit(project)">
            <div class="grid flex-1 gap-1">
              <div class="flex gap-3">
                <fa-icon [fixedWidth]="true" [icon]="faCube"></fa-icon>
                {{ project.name }}
              </div>
            </div>
          </button>
        </ng-container>
      </div>
      <div class="py-[15vh] text-center" *ngIf="!projects.length && !loading">
        <p>No Project Data</p>
      </div>
      <div class="py-[20vh] text-center" *ngIf="loading">
        <fc-loading></fc-loading>
      </div>
    </div>
    <div>
      <fc-pagination
        [rows]="rows"
        [page]="page"
        [totalPages]="totalPages"
        [totalRecords]="totalRecords"
        (onPageUpdate)="onPageUpdate($event)"></fc-pagination>
    </div>
  </div>
</div>
